* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-family: sans-serif;
}
header {
  background-color: #3b5998;
  padding: 15px;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
header i {
  color: white;
}
.logo-area {
  color: white;
  display: inline-block;
  width: 20%;
}
.logo-area a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.menu {
  display: inline-block;
  width: 20%;
  text-align: right;
  border-right: 1px solid rgba(255,255,255, .3);
  padding-right: 20px;
}
.menu ul li {
  display: inline-block;
  margin-right: 20px
}
.icon-links {
  display: inline-block;
  width: 20%;
  padding-left: 35px;
}
.icon-links ul li {
  display: inline-block;
  padding-right: 5px;
}
.icon-links .quick-options {
  display: inline-block;

}
.icon-links .privacy {
  display: inline-block;
  border-left: 1px solid rgba(255,255,255, .3);
  padding-left: 20px;
  margin-left: 25px;

}
.search-area {
  display: inline-block;
  width: 35%;
  text-align: right;
}
.search-area ul li {
  display: inline-block;
}
/* =============END HEADER  ==================================*/
/* =========== START SECTION 1 TOP AREA  ===========================*/
#top-area {
  padding: 200px 15px 90px 15px;
  background: url(https://wallpapermemory.com/uploads/796/path-background-hd-1440x960-465637.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
#top-area .profile-info .user-image {
  padding: 10px;
  display: inline-block;
}
#top-area .profile-info .user-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#top-area .profile-info .user-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
#top-area .profile-info .user-details h3 {
  color: white;
  font-size: 26px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
}
#top-area .profile-info .user-details a {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  transition: background .4s ease-in-out;
}
#top-area .profile-info .user-details a:hover {
  background: #2196f3;
}
/*============== END SECTION ONE TOP AREA ================== */
/*============== START OF LEFT INFO COLUMN =================*/
body {
  background-color: #fafafa;
}
.intro-box {
  background-color: white;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 40px;
  padding: 15px;
  /* border: 1px solid #ededed; */
  width: 30%;
  height: auto;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
}
.intro-box h4 h5 p {
  color: grey;
}
.intro-box a {
  text-decoration: none;
}
.intro-title-sec {
  /*border: 1px solid green;*/

}
.intro-icon {
  display: inline-block;
}
.globe {
  background: #e0e0e0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 9px 10px 10px 9px;
  margin-bottom: 30px;
}
.globe {
  color: white;
}
.intro-title {
  display: inline-block;
  margin-left: 10px;
  color: grey;
}
.intro-title h4 {
  font-weight: 700;
}
.profession h5 {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  color: grey;
}
.edit-profession i {
  display: inline-block;
  float: right;
  /*margin-right: 10px;*/
  color: grey;
}
.intro-content p {
  font-weight: 600;
  color: #c1c1c1;
  margin-bottom: 15px;
}
.intro-box-update-link {
  font-size: 14px;
  font-weight: 600;
  color: #68b8ff;
}
/* ============== START OF PHOTOS BOX ========== */
.photos-box {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  padding: 15px;
  /*border: 1px solid #ededed; */
  width: 30%;
  height: auto;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
}
.photo-icon {
  display: inline-block;
}
.camera {
  color: white;
  background: #e0e0e0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px 10px 10px 9px;
  margin-bottom: 15px;
}
.photo-title {
  display: inline-block;
  margin-left: 10px;
  color: grey;
  font-weight: 700;
}
.more-arrow {
  display: inline-block;
  float: right;
  margin-top: 20px;
  color: grey;
}
.photo-gallery-1 td {
  padding: 2px;
}
.photo-gallery-1 img {
  width: 132px;
  height: 132px;
}
/* =========== START FRIENDS STYLING ============================ */
.friends-box {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  padding: 15px;
  width: 30%;
  height: auto;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
}
.friends-icon {
  display: inline-block;
}
.friends-icon {
  color: white;
  background: #e0e0e0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px 10px 10px 9px;
  margin-bottom: 15px;
}
.friend {
  font-size: 1.7em;
  padding-top: 3px;
}
.friends-title {
  display: inline-block;
  margin-left: 10px;
  color: grey;
  font-weight: 700;
}
.friends-count ul {
  list-style-type: disc;
  margin-left: 20px;
}
/*.friends-count li {
  display: list-item;
}*/
.friends-count {
  display: inline-block;
  color: grey;
  font-weight: 700;
}

.friends-gallery-1 td {
  padding: 2px;
}
.friends-gallery-1 img {
  width: 132px;
  height: 132px;
}
