* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: #3b5998;
  padding: 15px;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
header i {
  color: white;
}
.logo-area {
  color: white;
  display: inline-block;
  width: 20%;
  padding-left: 20px;
}
.logo-area a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.menu {
  display: inline-block;
  width: 20%;
  text-align: right;
  border-right: 1px solid rgba(255,255,255, .3);
  padding-right: 20px;
}
.menu ul li {
  display: inline-block;
  margin-right: 20px
}
.icon-links {
  display: inline-block;
  width: 20%;
  padding-left: 35px;
}
.icon-links ul li {
  display: inline-block;
  padding-right: 5px;
}
.icon-links .quick-options {
  display: inline-block;
}
.bell-notification-count {
  position: relative;
  top: -8px;
  left: -10px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height:auto;
  padding: 0 4px 1px 4px;
  color: white;
}
.icon-links .privacy {
  display: inline-block;
  border-left: 1px solid rgba(255,255,255, .3);
  padding-left: 20px;
  margin-left: 25px;
}
.search-area {
  display: inline-block;
  width: 35%;
  /*text-align: right;*/
  margin-left: 30px;
}
.search-area ul li {
  display: inline-block;
}
.search-area li input[type=text] {
  background-color: #3b5998;
  color: white;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.5;
  width: 420px;
  margin-left: 10px;
}
.search-area li input[type=text]::placeholder {
  color: #a8a8a8;
}
.clear-search i {
  position: relative;
  right: 25px;
}
/* =============END HEADER  ==================================*/
/* =========== START SECTION 1 TOP AREA  ===========================*/
#top-area {
  padding: 200px 15px 90px 15px;
  background: url(https://wallpapermemory.com/uploads/796/path-background-hd-1440x960-465637.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
#top-area .profile-info .user-image {
  padding: 10px;
  display: inline-block;
}
#top-area .profile-info .user-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#top-area .profile-info .user-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
#top-area .profile-info .user-details h3 {
  color: white;
  font-size: 26px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
}
#top-area .profile-info .user-details a {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  transition: background .4s ease-in-out;
}
#top-area .profile-info .user-details a:hover {
  background: #2196f3;
}
/*============== END SECTION ONE TOP AREA ================== */
/*============== START OF LEFT INFO COLUMN =================*/
body {
  background-color: #fafafa;
}
#left-container {
  float: left;
  width: 30%;

}
.intro-box {
  background-color: white;
  margin-top: 47px;
  margin-bottom: 15px;
  margin-left: 40px;
  padding: 15px;
  /* border: 1px solid #ededed; */
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
}
.intro-box h4 h5 p {
  color: grey;
}
.intro-box a {
  text-decoration: none;
}
.intro-title-sec {
  /*border: 1px solid green;*/

}
.intro-icon {
  display: inline-block;
}
.globe {
  font-size: 25px;
  background: #e0e0e0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px 0px 0px 8px;
  margin-bottom: 30px;
}
.globe {
  color: white;
}
.intro-title {
  display: inline-block;
  margin-left: 10px;
  color: grey;
}
.intro-title h4 {
  font-weight: 700;
}
.profession h5 {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  color: grey;
}
.edit-profession i {
  display: inline-block;
  float: right;
  /*margin-right: 10px;*/
  color: grey;
}
.edit-profession i:hover {
  color: orange;
}
.intro-content p {
  /*font-weight: 600;*/
  font-size: 15px;
  color: #c1c1c1;
  margin-bottom: 15px;
}
.intro-box-update-link {
  font-size: 14px;
  font-weight: 600;
  color: #68b8ff;
}
/* ============== START OF PHOTOS BOX LEFT COLUMN ========== */
.photos-box {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  padding-bottom: 10px;

  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
  overflow: auto; /* Keeps images inside the photos-box container because the images have a float and are larger than the container in a whole */
}
.photo-icon {
  display: inline-block;
  margin: 15px 0 0 15px;
}
.camera {
  font-size: 20px;
  color: white;
  background: #e0e0e0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 9px 8px 8px 10px;
  margin-bottom: 15px;
}
.photo-title {
  display: inline-block;
  margin-left: 10px;
  color: grey;
  font-weight: 700;
}
.more-arrow {
  display: inline-block;
  float: right;
  margin-top: 35px;
  margin-right: 15px;
  color: grey;
}
/*.photo-gallery-1 {
  position: relative;
  margin: 0 5px 0 5px;
}*/

 .photo-gallery-images img {
   position: relative;
   display: inline-block;
  float: left;
  width: 32%;
  height: 140px;
  margin: 2px;
}
/* =========== START FRIENDS BOX STYLING LEFT COLUMN ==================== */
.friends-box {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  /*padding: 15px;*/
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
overflow: auto;
}
.friends-icon {
  display: inline-block;
}
.friends-icon i {
  font-size: 20px;
  color: white;
  background: #e0e0e0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 9px 0px 0px 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.friend {
  font-size: 1.7em;
  padding-top: 3px;
}
.friends-title {
  display: inline-block;
  margin-left: 10px;
  color: grey;
  font-weight: 700;
}
.friends-count ul {
  list-style-type: disc;
  margin-left: 20px;
}
.friends-count {
  display: inline-block;
  color: grey;
  font-weight: 700;
}

.friends-gallery img {
  position: relative;
  display: inline-block;
 float: left;
 width: 32%;
 height: 140px;
 margin: 2px;
}
/* ============================END LEFT CLOUMN STYLING ===================== */

/* ============ START RIGHT CLOUMN STYLING ===============================*/
#right-container {
  display: inline-block;
  position: relative;
  float: right;
  width: 60%;
  padding-right: 140px;
}
.submenu-right-col {
  background-color: white;
  margin-bottom: 20px;
  margin-top: -40px;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
}
.submenu-right-col ul li {
  display: inline-block;
  color: #c1c1c1;
  width: 19.5%;
  padding-top: 10px;
  padding-bottom: 11px;
  text-align: center;
  border-bottom: 3px solid white;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.submenu-right-col ul li:hover {
  border-bottom: 3px solid #68b8ff;
  color: #68b8ff;
}
.submenu-right-col ul li:nth-child(5) {
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 30px;
}
.submenu-right-col ul li .fa {
  font-size: 20px;
}
.submenu-right-col ul li span {
  display: block;
  margin: 15px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}
/* ==================== START POST ( RIGHT COLUMN ) STYLING ========*/
.post {
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  font-weight: 600;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
-moz-box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
box-shadow: 0px 9px 10px -2px rgba(168,168,168,0.4);
}
.post a {
  color: #68b8ff;
}
.user-image-post img {
  display: inline-block;
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 15px;
}
.post-info {
  padding-top: 16px;
  line-height: 1.5;
  font-size: 14px;
}
.post-info .post-date {
  display: block;
  color: #c1c1c1;
}
.more-arrow-right-col {
  display: inline-block;
  float: right;
  color: grey;
  margin-right: 20px;
  margin-top: -25px;
  }
.post-image img {
  width: 100%;
  height: auto;
}
.share-like-post-box {
  padding: 25px 25px 35px 25px;
}
.share-like-post-box i {
  display: inline-block;
  color: #c1c1c1;
  font-size: 20px;
}
.share-like-post-box a {
  float: left;
}
.share-like-post-box .comment-count {

  float: right;
}
.share-like-post-box .fa-comment-alt {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}
.share-like-post-box .fa-thumbs-up {
  margin-right: 30px;
}
.share-like-post-box i:hover {
  color: #68b8ff;
}
/* ================================== POST COMMENT BOX STYLING START =======*/
.post-comment-box {
  background-color: #f4f4f4;
  padding: 15px 0 15px 0;
  font-size: 14px;
}
.user-image-comment-post img {
  display: block;
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 15px 25px 15px;

}
.comment-info a {

}
.comment-post-date {
  float: right;
  color: grey;
  margin-right: 15px;
}
.comment-box-text {
  display: block;
  position: relative;
  margin: 10px 15px 10px 10px;
  color: #a8a8a8;
  line-height: 1.4;
}
.post-comment-reply-box {
  position: relative;
  padding: 15px 0 15px 0;
  font-size: 14px;
}
.comment-reply-info input[type=text] {
  position: relative;
  color: black;
  line-height: 1.4;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 81%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.comment-reply-info input[type=text]::placeholder {
  color: #a8a8a8;
}
 .comment-box-icons i {
  position: relative;
  right: 60px;
  color: #c1c1c1;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.comment-box-icons i:hover {
  color: #68b8ff;
}
.comment-box-icons img {
  position: relative;
  top: 3px;
  right: 60px;
  color: #c1c1c1;
  font-size: 20px;
  cursor: pointer;
}
.comment-box-icons img:hover {
  color: #68b8ff;
}
